



.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar-brand>img {
    height: 20px;
}

@media (max-width: 599px){

    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 64px !important;
    }
}


.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #151515;
    padding: 20px 0 20px 0;
}


/*.navbar-nav{
  margin-top: 12px;
 }*/

.navbar-nav>li {
    margin-left: 35px;
    /*padding-bottom: 28px;*/
}

.navbar-inverse .navbar-nav>li>a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #eb7375;
    color: #fff;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-brand {
    font-size: 36px;
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #c52d2f;
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #eb7375;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    background-color: rgba(0, 0, 0, .85);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    border: 0;
    padding: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before {
    position: absolute;
    top: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu>li>a {
    padding: 8px 15px;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:hover>a,
.navbar-inverse .navbar-nav .dropdown-menu>li:focus>a,
.navbar-inverse .navbar-nav .dropdown-menu>li.active>a {
    background-color: #c52d2f;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:last-child>a {
    border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu>li.divider {
    background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-top: 0;
    padding-bottom: 0;
}








/*************************
********* Contact Us CSS ******
**************************/

.gmap-area {
    background-color:#151515;
    padding: 70px 0;
}

.gmap-area h2{
    color: white;
}

.gmap-area .gmap iframe {
    height: 380px;
    width: 400px;
}

.gmap {
    border: 10px solid #f6f5f0;
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.gmap-area .map-content ul {
    list-style: none;
}

.gmap-area .map-content address h5 {
    font-weight: 700;
    color:#c52d2f;
}

#contact-page {
    padding-top: 20px;
    background-color: #151515;
    color: white;
}

#contact-page h2{
    color: white;
}

#contact-page .contact-form .form-group label {
    font-size: 16px;
    font-weight: 300;
}

.form-group .form-control {
    padding: 7px 12px;
    border-color: #f2f2f2;
    box-shadow: none;
}

textarea#message {
    resize: none;
    padding: 10px;
}

#contact-page .contact-wrap {
    margin-top: 20px;
}




/*menu*/

.navbar-buttons li>a {
    width: 100%;
}


/* slider */

.carousel-inner-custom {
    max-height: 100%;
}

.slider-principal {
    padding: 0;
}

.slide-custom {
    height: 600px;
}

#map {
    height: 800px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border: thin solid #333;
}


.navbar-pos-fix {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.s-video {
    height: 100vh;
    background-color: black;
    padding: 0;
}
@media(max-width: 430px) {
    .fontIndex h1{
        font-size: 8vh;
    }
    .fontIndex h4{
        font-size: 4vh;
    }
}

@media(min-height:700px) {
    #main-slider {
        height: 1000px;
    }
    #main-slider .carousel .item {
        height: 100%;
    }
    .slide-custom {
        height: 100%;
    }
    .carousel-inner-custom {
        height: 100%;
    }
}

@media(max-width: 375px){

    .gmap-area .gmap iframe {
        height: 280px;
        width: 300px;
    }
    
    .gmap {
        height: 300px;
        width: 300px;
    }    
}

.s-map-earth {
    padding: 20px 0 0 0;
}

.links-idioma {
    margin-top: 10px;
    font-size: 18px;
    color: white;
}

.links-idioma a {
    color: white;
}

.links-idioma a.active-lang {
    color: white !important;
}

.links-idioma a {
    color: gray;
}

.m-0{
    margin: 0px !important;
}


@media(max-width: 768px){
    .links-idioma {
        margin-right: 14px;
        display: none;
    }      
}



