<div class="bounds">
    <div class="content" fxLayout="row" fxLayout.xs="column">
        <div fxFlex="50" class="sec1" fxFlex.xs="55"  flex fxFlexFill>
            <h2>Leadership Legacy</h2>
            <h1>Manuel Alejandro del Bosque Woo </h1>
            <h3>Chief Operating Office</h3>
            <h4>(1983-2019)</h4>

            <p> Manuel Alejandro del Bosque Woo was known as “Manolo” by friends and family. He was born on August 9,
                1983, in
                Torreon, Coahuila, Mexico. Since he was a kid, he was a really smart one, although he did not spend much
                time
                studying, he had an amazing memory, so things were not difficult for him to understand.</p>

            <p><img class="text-image-left" src="{{dnsUrl}}ONU.png">
                Manolo, was also a really bold
                and restless child, as he grew up,
                he focused his energy on making
                friends, partying and organizing
                events, up to the point he sometimes
                had academic issues for not
                attending classes and not doing
                his homework. As his mother, Ms.
                Malena Woo recalls, he often “had
                more important things to do”.
                <br><br>
                Later in his life, he studied Industrial
                Relationships at the Universidad
                Iberoamericana Torreón. He
                demonstrated his leadership not
                only getting elected as the President
                of the Industrial Relationships
                Student Society, but also getting
                elected as the President of the
                Student Council which represents every single student in such university. His
                classmates and friends always remember him as a person with a big heart and
                joyful character, always loyal and very helpful.</p>

                <p>After he got his bachelor degree, Manolo and his best friends as entrepreneurs
                    started their first company that was pimarily an advertising agency and later on
                    they dabbled in restaurant industry. Those were times of learning, success and
                    fun for them.
                    </p>

        </div>
        <div fxFlex="50" class="sec2" flex fxFlexFill>
            <p> <img class="text-image" src="{{dnsUrl}}Manolo.png">
                As a great leader, Manolo was in
                constant transformation, always
                searching for ways to be a better
                self. As consequence, his life
                mission changed, he started a
                new adventure as he stopped
                working for him and started
                working for God.
                <br><br>
                It was at this point in his life
                Manolo joined Freeman with a
                clear objective: Change the world
                by creating its best city, a city
                with love.
                <br><br>
                What Manolo contributed to
                Freeman is deemed priceless.
                Even though it was a short period
                of time, it seemed like a lifetime.
                He set an example of simplicity
                and good will to be able to work
                at any time. It seemed easy to change the world by his side. He didn’t criticized,
                he trusted. Manolo loved to help everyone, he was an instrument of God at every
                time. Faithful follower of Jesus, he was a dedicated person, keeping close to him.
                He meditated and practiced the word of God with deep love.
                </p>
                <p>
                    Manolo, we miss you. We are aware you are helping us more from heaven. It
was a great honor to meet you, our friend and partner. We firmly believe you are
still with us, you will be present every time we need you, through every prayer.
In your memory, we will continue to work with determination, great passion and
love above else. This, until we have materialized our shared vision: that Freeman
becomes the highest value company in the world and the people benefited from
it are those who need it the most. Your values will always live within us and we
are certain you started something really good here in earth, something that will
never stop.
                </p>

                <p>This is not the end… It is the start of an endless story.</p>
            <p></p>
        </div>
    </div>

</div>