<section class="home-video">
    <video
      id="homeVideo" 
      class="pointer-none" 
      src="{{dnsUrl}}LAND.mp4" 
      autoplay 
      loop
      playsinline
      muted
      [muted]="true" 
      type="video/mp4">
      <code>video</code> not compatible on your browser.
    </video>
  </section>
  <script>
    var bgvideo = document.getElementById("homeVideo");
    bgvideo.muted = true;
    bgvideo.play();
  </script>

  <!-- The video -->

  


<script>
  var video = document.getElementById("homeVideo");
  
  function myFunction() {
    if (video.paused) {
      video.play();
    } else {
      video.pause();
    }
  }
  </script>