<section class="home-video">
    <video
      id= "homeVideo"
      #homeVideo
      class="pointer-none" 
      src="{{dnsUrl}}LAND.mp4" 
      autoplay 
      loop
      playsinline
      muted
      [muted]="true" 
      type="video/mp4">
      <code>video</code> not compatible on your browser.
    </video>
  </section>
  <div class="float-learn-more-container">
    <div>
        <p>
          <span style="font-size: x-large;letter-spacing: 4px;">MEGA PROJECTS</span>
          <br />
          <span style="font-size: small;letter-spacing: 6px; font-weight: bold;">GLOBAL INVESTMENTS</span>
        </p>
    </div>
    <div>
      <a href="#" class="float-learn-more-button">
        LEARN MORE
      </a>
  </div>
</div>
 <script>
   function playHome(){
     var bgVideo = document.getElementById("homeVideo");
     bgVideo.muted = true;
     bgVideo.play();
    }

    playHome();
    function myFunction() {
      setInterval(function(){ 
        playHome(); 
        bgVideo.click();
      }, 3000);
    }

 </script>