<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="false"
  >
    <mat-toolbar>
      
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" (click)="tooglemenu()">{{ 'menu_home' | translate | uppercase }}</a>
      <a mat-list-item [routerLink]="['/video']" (click)="tooglemenu()">{{ 'menu_video' | translate | uppercase }}</a>
      <a mat-list-item [routerLink]="['/map']" (click)="tooglemenu()">{{ 'menu_map' | translate | uppercase }}</a>
      <a mat-list-item [routerLink]="['/brochure']" (click)="tooglemenu()">{{ 'menu_brochure' | translate | uppercase }}</a>
      <a mat-list-item [routerLink]="['/contact-us']" (click)="tooglemenu()">{{ 'menu_contact_us' | translate | uppercase }}</a>
      <a mat-list-item [routerLink]="['/legacy']" (click)="tooglemenu()">{{ 'menu_legacy' | translate | uppercase }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="navcontainer">
        <button
          id="menuButton"
          type="button"
          class="burguer"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a  class="navbar-brand" href="/">
          <img  src="{{dnsUrl}}LOGO_FREEMAN_FINAL_BLANCO.png" alt="Freeman">
        </a>
      </div>
    
    </mat-toolbar>
    <!-- Add Content Here -->
    
    <ng-content></ng-content>
    
  </mat-sidenav-content>
  
</mat-sidenav-container>
