.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: transparent;
  position: fixed;
}

.hidden {
  display: none;
}

.navbar-brand{
  width: 200px;
}

.navcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}

.burguer{
  position: absolute;
  left: 10px;
  color: #FFF;
}